# Pandas tutorial

In [1]:
import pandas as pd
df = pd.read_csv('pokemon_data.csv')

In [8]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [6]:
df.shape  # Rows and columns

(800, 12)

In [4]:
df.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [9]:
print(df.columns)  # columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [11]:
print(df['Name'][0:5])

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [15]:
print(df[['Name','Type 1','HP']][0:5])

                    Name Type 1  HP
0              Bulbasaur  Grass  45
1                Ivysaur  Grass  60
2               Venusaur  Grass  80
3  VenusaurMega Venusaur  Grass  80
4             Charmander   Fire  39

In [18]:
print(df.iloc[0:4,1:5])   # rows,columns

                    Name Type 1  Type 2  HP
0              Bulbasaur  Grass  Poison  45
1                Ivysaur  Grass  Poison  60
2               Venusaur  Grass  Poison  80
3  VenusaurMega Venusaur  Grass  Poison  80

In [20]:
print(df.iloc[:,1:3])   # all rows and 1 to 2 columns

                      Name   Type 1
0                Bulbasaur    Grass
1                  Ivysaur    Grass
2                 Venusaur    Grass
3    VenusaurMega Venusaur    Grass
4               Charmander     Fire
..                     ...      ...
795                Diancie     Rock
796    DiancieMega Diancie     Rock
797    HoopaHoopa Confined  Psychic
798     HoopaHoopa Unbound  Psychic
799              Volcanion     Fire

[800 rows x 2 columns]

In [24]:
df.loc[df['Type 1'] == "Grass"]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [27]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [28]:
df.sort_values('Name')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [29]:
df['total'] = df['HP'] + df['Attack']

In [31]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,94
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,122
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,162
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,180
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,91

In [32]:
df = df.drop(columns = 'total')

In [34]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [39]:
df['Total'] = df.iloc[:,4:10].sum(axis = 1)

In [40]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [45]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Total'],
      dtype='object')

In [47]:
df.to_csv('modified_pokemon_data.csv',index = False)

In [50]:
df.loc[df['Name'] == "Charmander"]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [51]:
df[df['HP'] == 80]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
60,55,Golduck,Water,NaN,80,82,78,95,80,85,1,False,500
73,67,Machoke,Fighting,NaN,80,100,70,50,60,45,1,False,405
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False,490
79,73,Tentacruel,Water,Poison,80,70,65,80,120,100,1,False,515
82,76,Golem,Rock,Ground,80,120,130,55,65,45,1,False,495
95,88,Grimer,Poison,NaN,80,80,50,40,50,25,1,False,325
119,111,Rhyhorn,Ground,Rock,80,85,95,30,30,25,1,False,345
128,119,Seaking,Water,NaN,80,92,65,65,80,68,1,False,450
153,142,Aerodactyl,Rock,Flying,80,105,65,60,75,130,1,False,515
154,142,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,1,False,615
168,154,Meganium,Grass,NaN,80,82,100,83,100,80,2,False,525
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False,500
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False,600
278,257,Blaziken,Fire,Fighting,80,120,70,110,70,80,3,False,530
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False,630
295,272,Ludicolo,Water,Grass,80,70,70,90,100,70,3,False,480
312,288,Vigoroth,Normal,NaN,80,80,80,55,55,90,3,False,440
357,326,Grumpig,Psychic,NaN,80,45,65,90,110,80,3,False,470
361,330,Flygon,Ground,Dragon,80,100,80,80,80,100,3,False,520
396,362,Glalie,Ice,NaN,80,80,80,80,80,80,3,False,480
397,362,GlalieMega Glalie,Ice,NaN,80,120,80,120,80,100,3,False,580
412,376,Metagross,Steel,Psychic,80,135,130,95,90,70,3,False,600
413,376,MetagrossMega Metagross,Steel,Psychic,80,145,150,105,110,110,3,False,700
414,377,Regirock,Rock,NaN,80,100,200,50,100,50,3,True,580
415,378,Regice,Ice,NaN,80,50,100,100,200,50,3,True,580
416,379,Registeel,Steel,NaN,80,75,150,75,150,50,3,True,580
417,380,Latias,Dragon,Psychic,80,80,90,110,130,110,3,True,600
418,380,LatiasMega Latias,Dragon,Psychic,80,100,120,140,150,110,3,True,700
419,381,Latios,Dragon,Psychic,80,90,80,130,110,110,3,True,600
420,381,LatiosMega Latios,Dragon,Psychic,80,130,100,160,120,110,3,True,700
450,405,Luxray,Electric,NaN,80,120,79,95,79,70,4,False,523
538,481,Mesprit,Psychic,NaN,80,105,105,105,105,80,4,True,580
547,489,Phione,Water,NaN,80,80,80,80,80,80,4,False,480
580,521,Unfezant,Normal,Flying,80,115,80,65,55,93,5,False,488
630,569,Garbodor,Poison,NaN,80,95,82,60,82,75,5,False,474
647,586,Sawsbuck,Normal,Grass,80,100,70,60,70,95,5,False,475
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False,495
734,666,Vivillon,Bug,Flying,80,52,50,90,50,89,6,False,411
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600